.chatScreen{

}

.chartscreen_msg{
    display: flex;
    align-items: center;
    padding: 20px;

}
.chat-text{
    margin-left: 10px;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
}
.chat-timestamp{
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: 18px;
    font-weight: 600;
}
.chat-textuser{
   margin-left: auto;
   padding: 15px;
   color: white;
   border-radius:20px ;
   background-color: #29b3cd;
    font-weight: 600;
}
.chart-input{
display: flex;
align-items: center;
padding: 5px;
position: fixed;
bottom: 0;
width: 100%;
border-top: 1px solid lightgray;
}
.chart-input input
{
flex:1;
padding: 10px;
border: none;
outline: none;
}
.btn{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #fe3d71;
    cursor: pointer;

}