.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
    border-bottom: 1px solid #fff;
   
}

.logo{
    height:30px;
    object-fit: contain;
   
}